<h2>This is the Home Page!</h2>
<h3>{{ message }}</h3>

 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stock in resultObj.stock">
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price.currency }} {{ stock.price.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
