
<h3>{{ message }}</h3>

<div class="panel panel-default" ng-controller="ReportsController">
	<div class="panel-heading">Top 10 Gainers</div>
	<div class="panel-body"></div>
		<div class="table-responsive table-bordered">
			<table class="table">
				<thead>
					<tr>
						<th>Symbol</th>
						<th>Name</th>
						<th>Price</th>
						<th>Gain/Loss</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="stock in resultObj.stock | orderBy: 'percent_change' : reverse | limitTo : 10">
					<td> {{ stock.symbol }} </td>
					<td> {{ stock.name }} </td>
					<td>{{ stock.price.amount | currency : 'PHP ' }}</td>
					<td><i class="fa {{  stock.percent_change | GainLossFilter }}"> {{ stock.percent_change }}% </i></td>
				</tr>
				</tbody>
			</table>
		</div>

</div>

<div class="panel panel-default" ng-controller="ReportsController">
	<div class="panel-heading">Top 10 Losers</div>
	<div class="panel-body"></div>
		<div class="table-responsive table-bordered">
			<table class="table">
				<thead>
					<tr>
						<th>Symbol</th>
						<th>Name</th>
						<th>Price</th>
						<th>Gain/Loss</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="stock in resultObj.stock | orderBy: 'percent_change' : !reverse | limitTo : 10">
						<td> {{ stock.symbol }} </td>
						<td> {{ stock.name }} </td>
						<td>{{ stock.price.amount | currency : 'PHP ' }}</td>
						<td><i class="fa {{  stock.percent_change | GainLossFilter }}"> {{ stock.percent_change }}% </i></td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
