.sortable_list {
	list-style : none;
	margin     : 0;
	padding    : 0;
	font       : 11px Arial, Helvetica, Geneva, sans-serif;
}

.header div {
	text-align       : center;
	background-color : #ccc;
	font-weight      : bold;
	cursor           : default;
}

.sortable_list li div {
	display       : block;
	float         : left;
	border-bottom : 1px solid #ccc;
	border-right  : 1px solid #ccc;
	padding       : 3px 5px;
}

.sortable_list li div.listitem_symbol {
	width       : 150px;
	border-left : 1px solid #ccc;

}

.sortable_list li div.listitem_name {
	width : 300px;
}

.sortable_list li div.listitem_price {
	width : 250px
}
