td .fa-arrow-up {
	color: green;
}

td .fa-arrow-down {
	color: red;
}

.pse-label-date-container {
	padding-top    : 10px;
	padding-bottom : 10px;
	padding-right  : 50px;
	font-size      : 12px;

}

.pse-label {
	font-weight : bold;
	color       : orange;
	font-size   : 13px;
}

.searchBox {
	padding-top    : 15px;
	padding-bottom : 5px;
	width          : 250px;
}

.container {
	width : 100%;
}

@media only screen and (max-width: 400px) {
    .conatiner {
        width : 50%;
    }
}
